---
Language: Cpp
BasedOnStyle: LLVM # LLVM/Google/Chromium/Mozilla/WebKit/Microsoft/GNU/InheritParentConfig

# 取消列限制
ColumnLimit: 300

# 一行出
BraceWrapping:
   AfterEnum: false
AllowShortEnumsOnASingleLine : true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse

# 忽略模板参数列表的换行行为
BreakTemplateDeclarations: Leave

# 指针类型修饰符靠左
DerivePointerAlignment: false
PointerAlignment: Left
